<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
<p>Please authorize the Web Service to make requests to your Salesforce Organization</p><br/>

<a href="https://hcpoc-staging.herokuapp.com/authenticate">Click here</a>
</body>
</html>