<!DOCTYPE html>
<html>

  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>

  <body>
    <p>Please authenticate <%= @app_name %> to your Salesforce Org</p><br/>
    <a href="<%= @authentication_url%>">Authenticate <%= @app_name %></a> 
  </body>

</html>