<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello,</p>
    <p>
      We have successfully provisioned a connection between your org and our external system via Heroku Connect.<br/>
    </p>
    <p>
      At this point, please authenticate your Salesforce organization with Heroku Connect.<br/>
    </p>
    <p>
      Please reach out to our support team if you have any issues.<br/>
    </p>
  </body>
</html>