<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello,</p>
    <p>
      We have successfully provisioned a connection between your org and our external system via Heroku Connect.<br/>
    </p>
    <p>
      Please authenticate Heroku Connect with your Salesforce Org via the 'Auth' tab in the HC Reference Architecture app.<br/>
    </p>
  </body>
</html>